ul {
    list-style: none;
    word-break: break-word;
    display: flex;
    flex-direction: column-reverse;
}

ul div {
    margin-bottom: 15px;
}

ul li {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 5px;
}

ul button {
    border: 1px solid whitesmoke;
    background-color: inherit;
    color: whitesmoke;
    outline: none;
    text-shadow: 1px 1px 2px black;
}